*{
    margin: 0;
    padding: 0;
   

}
.container{
    width: 100%px; /*a52 width 420px*/
    min-height: 100vh; 
    height: 1080px;
    background-color: red;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/jp\ bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
}
/** todo: header japanese food**/


.section .header_box h1{
    font-size: 32px;
    color: white;
    padding-left: 141px;
    padding-top: 27px;
}
.section .header_box h1 span{
    background-color: rgba(255, 109, 109, 1);
    padding: 0 20px;
    border-radius: 50px;
    margin-left: 3px;
}
.section .circle_wrap{
    background-color: rgba(255, 109, 109, 1);
    width: 267px;
    height: 267px;
    border-radius: 400px;
    text-align: center;
    margin: 52px 64px;
}
.section .bg_wrap{
    position: absolute;
    /* background-color: blue; */ /*bg กรอบคัต */
    width: 267px; /*กรอบคัต รูป*/
    height: 267px;
    left: 64px;
    top: 111px;
    border-radius: 300px;
    overflow: hidden; /*ภาพอื่นถูกซ่อน*/


}
.bg_wrap .wrapper img{
    height: 228px; /*size pg jp food*/
    margin-left: 10px;
}
.bg_wrap .wrapper img:nth-of-type(1){
    margin: -30px 10px;
}   

.section .wrapper{
    display: flex;
    margin: 45px 5px; /*position picture japanese food*/
    animation: slide 7s infinite;   
}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    10%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-102%);
    } 
    30%{
        transform: translateX(-102%);
    }
    40%{
        transform: translateX(-202%);
    }
    50%{
        transform: translateX(-202%);
    }
    60%{
        transform: translateX(-302%);
    }
    70%{
        transform: translateX(-302%);
    }
    80%{
        transform: translateX(-402%);
    }
    90%{
        transform: translateX(-402%);
    }
    100%{
        transform: translateX(0%);
    }
    
}

/**todo: text popup**/
.section .text_popup{
    color: white;
    font-size: 30px;
}
.section .text_popup h1{
    position: absolute;
    left: 850px;
    top: 800px;
}

