*{
    margin: 0;
    padding: 0;
    font-family: Kanit , serif;
    
}

.container{
    width: 100%px; /*a52 width 420px*/
    min-height: 100vh; 
    height: 1580px; /*height homepage*/
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.83),rgba(0, 0, 0, 0.83)),url(/images/jp_bg.jpg);
    background-position: center;
    position: relative;
}
/** todo: header japanese food**/


.section .header_box h1{
    font-size: 32px;
    color: white;
    padding-left: 141px;
    padding-top: 27px;


}
.section .header_box h1 span{
    background-color: rgba(255, 109, 109, 1);
    padding: 0 20px;
    border-radius: 50px;
    margin-left: 5px;
    
}
.section .circle_wrap{
    background-color: rgba(255, 109, 109, 1);
    width: 267px;
    height: 267px;
    border-radius: 400px;
    text-align: center;
    margin: 52px 64px;
}
.section .bg_wrap{
    position: absolute;
    /* background-color: blue; */ /*bg กรอบคัต */
    width: 267px; /*กรอบคัต รูป*/
    height: 267px;
    left: 64px;
    top: 111px;
    border-radius: 300px;
    overflow: hidden; /*ภาพอื่นถูกซ่อน*/


}
.bg_wrap .wrapper img{
    height: 228px; /*size pg jp food*/
    margin-left: 10px;
}
.bg_wrap .wrapper img:nth-of-type(1){
    margin: -30px 10px;
}   

.section .wrapper{
    display: flex;
    margin: 45px 5px; /*position picture japanese food*/
    animation: slide 7s infinite;   
}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    10%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-102%);
    } 
    30%{
        transform: translateX(-102%);
    }
    40%{
        transform: translateX(-202%);
    }
    50%{
        transform: translateX(-202%);
    }
    60%{
        transform: translateX(-302%);
    }
    70%{
        transform: translateX(-302%);
    }
    80%{
        transform: translateX(-402%);
    }
    90%{
        transform: translateX(-402%);
    }
    100%{
        transform: translateX(0%);
    }
    
}
/****** content ของอาหารญี่ปุ่น + js read more *******/
.section2 .link{
    opacity: 0;
    color: wheat;
    position: relative;
    top: -40px;
}
.container .section2 .text-box{
    /* background-color: blue;  */
    width: 299px; /*area of section2*/
    text-align: center;
    margin:auto;
    position: relative;
    top: -40px;
}
.container .section2 .text-box span{ /*btn read more*/
    color: white;
    font-size: 20px;
    
}
.container .section2 .text-box p , .container .section2 .text-box p span {
    color: white;
    font-size: 16px;
}

.container .section2 .text-box p span{ /*ซ่อนข้อความ*/
    display: none;
    
}
.container .section2 p span.show{ /*ตอนปรากฎ*/
    display: inline;
}

/****** หมวดหมู่อาหาร *******/
.section3 .link{
    opacity: 0;
    color: wheat;
    position: relative;
    top: -30px;
}
.section3 .text-box{ /*area of header4*/
    background-color: rgba(255, 109, 109, 1);
    border-radius: 34px;
    width: 171px;
    height: 33px;
    margin-top: -30px;
    position: relative;
    left: 120px;  
}
.section3 .text-box .header{
    color: white;
    text-align: center;
    font-size: 24px;
    /* font-family: "MN MINIMON" , sans-serif; */

}
.section3 .grid-area{
    display: grid;
    grid-template-columns: 22% 22% 32%; /*grid of box*/
    justify-content: space-around;
    grid-gap: 47px 0px;
}
.section3 .grid-area .box{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 7px 0px #958383;
    position: relative;
    left: 32px; /*position box*/
    top: 30px;
    
}
.section3 .grid-area .box img{
    width: 37px;
    position: relative;
    left: 19px;
    top: 9px;
}
.section3 .grid-area .box p{
    background-color: #706BA6;
    text-align: center;
    border-radius: 36px;
    width: 41px;
    height: 18px;
    position: relative;
    left: 17px;
    top: 10px;
    color: white;
    font-size: 14px;
}
/****** content ร้านอาหารเเนะนำ*******/
.section4 .text-box{ /*area of header4*/
    background-color: rgba(255, 109, 109, 1);
    border-radius: 34px;
    width: 171px;
    height: 33px;
    margin-top: 70px;
    position: relative;
    left: 120px;  
}
.section4 .text-box .header{
    color: white;
    text-align: center;
    font-size: 24px;
}
.section4 .grid-area{
    display: grid;
    grid-template-columns: 50% 50%; /*grid of box*/
    justify-content: space-around;
    grid-gap: 47px 0px;
    margin-top: 40px;
}
.section4 .grid-area .logo img{
    width: 80px;
    position: relative;
    border-radius: 56px;
    left: 43px;
    top: 21px;
}
.section4 .grid-area .view {
    background-color: gray;
    position: relative;
    width: 130px;
    padding: 10px 24px;
    border-radius: 7px;
    position: relative;
    left: -30px;
}
.section4 .grid-area .view img{
    width: 140px;
    height: 94px;
    position: relative;
    left: -5px;
    

}