*{
    font-family: Kanit , serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    left: -390px;
    width: 106px; /*size box*/
    height: 302px;
    margin: 22px;
    border-radius: 13px;
    background-color: rgba(43, 49, 61, 0.822); /*box*/
    transition: all .5s ease;
    z-index: 20;
    
}
nav ul li a img{
    width: 10px;
    height: 10px;
}
header ul{
    list-style-type: none;
}
header ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    color: white;   
    padding-left:   0px;
    padding-top: 20px ;
    padding-bottom: 20px ;
    text-align:center;
    box-sizing: border-box;  
}
header ul li:nth-of-type(1){
    padding-top: 30px;
    border-bottom: 1px solid black;
    
}
header ul li:nth-of-type(2){
    border-bottom: 1px solid black;
}

#check{
    display: none;
}
label img{
    width: 20px;
}
label #cancel img {
    padding: 2px;
}
label #btn{
    position: fixed;
    cursor: pointer;
    background: rgba(43, 49, 61, 0.822);
    border-radius: 13px;
    
}
label #cancel{
    position: fixed;
    cursor: pointer;
    border-radius: 13px;
    
}
label #btn{/*about box of icon*/
    left: 20px;
    top: 22px;
    font-size: 35px;
    padding: 5px 5px;
    transition: .4s;
    width: 30px; /*size box of icon*/
    height: 30px;   
}
label #btn img{
    position: relative;
    left: 4px;
    top: -13px;
}
label #cancel{/*about box of icon*/
    z-index: 5;
    left: -90px;
    width: 30px; /*size box of icon*/
    height: 30px;
    top: 17px;
    padding: 5px 5px;
    transition: .5s;  
}
label #cancel img{
    position: relative;
    left: 4px;
    top: 4px;
}
 #check:checked ~ header{
    left: 0px;
 }
 #check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
 }
 #check:checked ~ label #cancel{
    left:88px;
    top: 22px; /*position buttom close*/
    z-index: 21;
 }